.answers {
  width: 900px;
}

.answer-btn {
  border-radius: 50%;
  width: 200px;
  margin: 1rem;
}

.answer-btn:nth-child(1) {
  margin-left: 90px;
}

.answer-btn:nth-child(2) {
  margin-left: 400px;
}

.answer-btn:nth-child(3) {
  margin-left: 180px;
}
