.base-gamepage {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.bg-answer-true {
  background-color: #00bf63;
}

.bg-answer-false {
  background-color: #fa0000;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 50px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-home-btn {
  text-decoration: none;
  color: #000;
  font-size: 48px;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5%;
}
