.result-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.problems p {
  font-size: 52px;
  text-align: center;
}

.stats-section p {
  margin: 50px 0;
}

.question-results {
  display: flex;
}

.problems-header {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

.problems {
  width: 350px;
}

.problem-result {
  width: 10px;
}

.result-base .error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
